$OutlinedButtonContentColor: #7d7d7d;
$OnBackground: #1c1e1b;
$SecondaryT: rgba(137, 229, 137, 0.5);
$Primary: #2a923f;
$Background: #f4f8f9;
$Surface: #fdffff;
$Green: #2fb14a;
$OnPrimary: #f1efef;
$OutlinedButtonText: #7d7d7d;
$OutlinedButtonBackground: #ffffff;
$OutlinedButtonBorder: rgba(200, 200, 200, 0.5);

:export {
  OutlinedButtonContentColor: $OutlinedButtonContentColor;
  OnBackground: $OnBackground;
  SecondaryT: $SecondaryT;
  Primary: $Primary;
  Background: $Background;
  Surface: $Surface;
  Green: $Green;
  OnPrimary: $OnPrimary;
  OutlinedButtonText: $OutlinedButtonText;
  OutlinedButtonBackground: $OutlinedButtonBackground;
  OutlinedButtonBorder: $OutlinedButtonBorder;
}
