$OutlinedButtonContentColor: #7d7d7d;
$OnBackground: #1c1e1b;
$SecondaryT: rgba(137, 229, 137, 0.5);
$Primary: #2a923f;

:export {
  OutlinedButtonContentColor: $OutlinedButtonContentColor;
  OnBackground: $OnBackground;
  SecondaryT: $SecondaryT;
  Primary: $Primary;
}
