@import '@app/assets/variables/_colors.module';
@import '@app/assets/variables/_mixins.module';
@import '@app/assets/variables/_media.module';

.shedulePage {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background-color: $Background;

  .shedulePageHeader {
    @include flexCol;
    align-items: center;
    width: 100%;
    height: 100px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);

    .headerBlock {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 50%;

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: Oswald-Bold;
        font-size: 32px;

        @media (max-width: $small) {
          font-size: 16px;
        }
      }
    }

    .carousel {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 600px;

      @media (max-width: $small) {
        width: 400px;
      }
    }
  }

  .shedulePageMain {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .shedulePageFooter {
    @media (max-width: $small) {
      position: fixed;
      bottom: 0;
      display: flex;
      width: 100%;
      height: 50px;
      box-shadow: 2px 2px 2px 4px rgb(0 0 0 / 20%);
    }

    @media (min-width: $large) {
      display: none;
    }
  }
}
